<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @publication.title %>
</p>

<p>
  <b>Content:</b>
  <%= @publication.content %>
</p>

<p>
  <b>Created at:</b>
  <%= @publication.created_at %>
</p>


<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
